/* Insert a notice between the last comment and the comment form */
$("#step-notice").html('<div class="flash notice"><%= escape_javascript(flash.delete(:notice)) %></div>');

/* Add the new comment to the bottom of the comments list */
$("#steps").append("<%= escape_javascript(render(@step)) %>");

/* Highlight the new comment */
$("#step_<%= @step.id %>").effect("highlight", {}, 3000);

/* Reset the comment form */
$("#new_step")[0].reset();
